{% extends 'base.html' %}

{% block content %}
    <!-- 博客页面实体 -->
            <!-- 博客正文实体 -->
            <h1>
                {% if cate_name %}
                    分类：{{ cate_name }}
                {% elif tag_name %}
                    标签: {{ tag_name }}
                {% else %}
                    我的文章
                {% endif %}
            </h1>

            <!-- 博客正文 -->
            <div>
                {% for article in article_list %}
                <div>
                    <h2>
                        <a href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a>
                    </h2>
                    <p>{{ article.created_time }}</p>
                    <p>{{ article.abstract | safe }}</p>
                </div>
                <hr>
                {% endfor %}
            </div>

        <!-- 博客旁列 -->
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>博客目录</h4>
                        <ul>
                        {% for category in category_list %}
                            <li><a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                        {% for tag in tag_list %}
                            <li><a href="{% url 'blog:category' tag.pk %}">{{ tag.name }}</a>
                            </li>
                        {% endfor %}
                        {% for project in project_list %}
                            <li><a href="{% url 'blog:project' project.pk %}">{{ project.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

            <!-- Side Widget Well -->
            <div>
                {% load tpaginate_tags %}
                {% paginate article_list 3 %}
                {% for article in article_list %}
                <div>
                    <h2>
                        <a href="{% url 'app:detail' article.pk %}">{{ article.title }}</a>
                    </h2>
                    <p><span class="glyphicon glyphicon-time"></span> {{ article.created_time }}</p>
                    <hr>
                    <p>{{ article.body | safe | truncatewords:10}}</p>
                </div>
                <div><a class="btn btn-primary" href="{% url 'app:detail' article.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                <span class="post-views">阅读量: {{ article.views }}</span>
                <hr>
                {% endfor %}
            </div>
            <div>
                {% include 'pagination.html' %}
            </div>

{% endblock content %}

